body{
	margin:0;
	padding:0;									
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	background-color: #fff;
}
p#wrnx{
	margin: 10%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	color: #9a9a9a;
	font-size: 15%;
}
p#wornix{
	margin: 10%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 15%;
}

.anan{
	width: 410%;
	overflow: hidden;
	margin: auto;
	margin-top: 120%;
	padding: 20;
	background: #fff;
	border: 1px solid silver;
	border-radius: 5%;

}
.anan input {
	width: 300%;
	height: 35%;
	margin-bottom: 10%;
	border-radius: 3%;
	border:  1% solid silver;
	padding: 5%;

}
.anan .eben{
	padding: 5%;
	background-color: #3498db;
	color: #fff;
	border-radius: 3%;
	border: 0%;
	font-weight: bold;
	font-size: 14%;
	margin: 20%;
}
input#eben{
	padding: 5%;
	background-color: #3498db;
	color: #fff;
	border-radius: 3%;
	border: 0%;
	font-weight: bold;
	font-size: 14%;
	margin-bottom: 20%;
}
img {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	pointer-events: none;
}